<?xml version="1.0" encoding='Windows-31J'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="itoen.oracle.apps.xxinv.xxinv510001j.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.14.00" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="XxinvMovementResultsAM"
      FullName="itoen.oracle.apps.xxinv.xxinv510001j.server.XxinvMovementResultsAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XxinvMovResultsSearchVO"
      FullName="itoen.oracle.apps.xxinv.xxinv510001j.server.XxinvMovResultsSearchVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxinvMovementResultsHdPVO"
      FullName="itoen.oracle.apps.xxinv.xxinv510001j.server.XxinvMovementResultsHdPVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxinvMovementResultsVO"
      FullName="itoen.oracle.apps.xxinv.xxinv510001j.server.XxinvMovementResultsVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxinvMovementResultsHdVO"
      FullName="itoen.oracle.apps.xxinv.xxinv510001j.server.XxinvMovementResultsHdVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxinvMovementResultsLnVO"
      FullName="itoen.oracle.apps.xxinv.xxinv510001j.server.XxinvMovementResultsLnVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxinvMovResultsHdSearchVO"
      FullName="itoen.oracle.apps.xxinv.xxinv510001j.server.XxinvMovResultsHdSearchVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
