<?xml version="1.0" encoding='Windows-31J'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="itoen.oracle.apps.xxccp.util.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.14.00" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="XxccpOAApplicationModule"
      FullName="itoen.oracle.apps.xxccp.util.server.XxccpOAApplicationModule"
      ObjectType="AppModule" >
   </Containee>
</JboPackage>
