<?xml version="1.0" encoding='Windows-31J'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="itoen.oracle.apps.xxinv.xxinv510002j.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.14.00" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="XxinvMovementShippedLotAM"
      FullName="itoen.oracle.apps.xxinv.xxinv510002j.server.XxinvMovementShippedLotAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XxinvLineVO"
      FullName="itoen.oracle.apps.xxinv.xxinv510002j.server.XxinvLineVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxinvResultLotVO"
      FullName="itoen.oracle.apps.xxinv.xxinv510002j.server.XxinvResultLotVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxInvMovementShippedLotPVO"
      FullName="itoen.oracle.apps.xxinv.xxinv510002j.server.XxInvMovementShippedLotPVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxinvIndicateLotVO"
      FullName="itoen.oracle.apps.xxinv.xxinv510002j.server.XxinvIndicateLotVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
