<?xml version="1.0" encoding='windows-31j'?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="itoen.oracle.apps.xxpo.lov.server" >
   <DesignTime>
      <Attr Name="_version" Value="9.0.3.14.00" />
      <Attr Name="_ejbPackage" Value="false" />
   </DesignTime>
   <Containee
      Name="VendorCodeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.VendorCodeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="FactoryCodeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.FactoryCodeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ItemCodeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.ItemCodeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="KoyuCodeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.KoyuCodeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="LovAM"
      FullName="itoen.oracle.apps.xxpo.lov.server.LovAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="ItemCode2VO"
      FullName="itoen.oracle.apps.xxpo.lov.server.ItemCode2VO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DepartmentCodeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.DepartmentCodeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ItemLocationCodeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.ItemLocationCodeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ItemCode3VO"
      FullName="itoen.oracle.apps.xxpo.lov.server.ItemCode3VO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="SourceCodeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.SourceCodeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="VendorCode2VO"
      FullName="itoen.oracle.apps.xxpo.lov.server.VendorCode2VO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="VendorCode3VO"
      FullName="itoen.oracle.apps.xxpo.lov.server.VendorCode3VO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ShipToCodeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.ShipToCodeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ShipWhseCodeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.ShipWhseCodeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="InstDeptCodeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.InstDeptCodeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ReqDeptCodeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.ReqDeptCodeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ArrivalTimeVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.ArrivalTimeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="FreightCarrierVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.FreightCarrierVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="DesignatedItemVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.DesignatedItemVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ItemCode4VO"
      FullName="itoen.oracle.apps.xxpo.lov.server.ItemCode4VO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="OrderNumberVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.OrderNumberVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="RequestNumberVO"
      FullName="itoen.oracle.apps.xxpo.lov.server.RequestNumberVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="ItemLocationCode2VO"
      FullName="itoen.oracle.apps.xxpo.lov.server.ItemLocationCode2VO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
